
<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Paul Claret - Mon portfolio</title>
        <meta name="description" content="Paul Claret - Qui suis-je ? Ingénieur fullstack et alternant en systèmes embarqués">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">
        <link rel="icon" type="image/png" href="../paulclaret.png">

        <!-- Raleway Google fonts  -->
        <link href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,400italic,500,100italic,700' rel='stylesheet' type='text/css'>

        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">



        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/normalize.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/fonticons.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/magnific-popup.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/font-awesome.min.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/bootstrap.min.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/bootstrap.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/project-section.css">
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/caroussel.css">

<link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">

        <!-- For navmenu css -->
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/navmenu.css" />

        <!--For Plugins external css-->
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/plugins.css" />

        <!--Theme custom css -->
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/style.css">

        <!--Theme Responsive css-->
        <link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/responsive.css" />

        <!--Theme Colors css-->
        <!--<link rel="stylesheet" href="/archive/paulclaretpro/portfolio/assets/css/white.css">-->



        <!--Old browser  JS-->
        <script src="/archive/paulclaretpro/portfolio/assets/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>

    </head>

    <body data-spy="scroll" data-target="#scrollspy">





        <div class="main_figur">

            <div class="preloader">
                <h2>Paul Claret</h2>
                <div class="loaded hexdots-loader">Loading…</div>
            </div><!-- End off Preloader -->



            <div class="container">
                <div class="div-menu">
                    <header class="cd-header">
                        <a href="/archive/paulclaretpro/portfolio/" class="brand-logo text-left"><img src="../paulclaret_black.png" alt="" /></a>
                        <a class="cd-menu-trigger" href="#main-nav"><span></span></a>
                    </header>
                </div>

                <nav id="main-nav">
                    <ul>
                        <li><a href="/archive/paulclaretpro/portfolio/">Home</a></li>
                        <!-- <li><a href="#about">About Us</a></li> -->
                        <!-- <li><a href="#service">Service</a></li> -->
                        <!-- <li><a href="#team">Our Team</a></li> -->
                        <!-- <li><a href="#portfolio">Our Work</a></li> -->
                        <!-- <li><a href="#contactus">Contact</a></li> -->
                    </ul>
                    <a href="#" class="cd-close-menu">Close<span></span></a>
                </nav>
            </div>




            <!-- Portfolio Section -->
            <section id="portfolio" class="portfolio m-y-3 p-y-3">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-6">
                            <div class="main_portfolio_area">

                                <div class="main_portfolio_content">

                                    <div class="single_portfolio">
                                        <img src="/archive/paulclaretpro/portfolio/{{ og_image_url }}" style="width: 100%;" alt="" />
                                        <div class="single_portfolio_overlay">
                                            <div class="icon_area text-center">
                                                <a href="/archive/paulclaretpro/portfolio/{{ og_image_url }}" class="gallery-img"><img src="../assets/images/plus.png" alt="" /></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        {%- for image in images_url -%}
                                        <div class="col-md-6  col-xs-6">
                                            <div class="single_portfolio" style="heigth: auto !important;">
                                                <img src="/archive/paulclaretpro/portfolio/{{ image }}" alt="{{ og_image_alt }}" />
                                                <div class="single_portfolio_overlay">
                                                    <div class="icon_area text-center">
                                                        <a href="/archive/paulclaretpro/portfolio/{{ image }}" class="gallery-img"><img src="../assets/images/plus.png" alt="" /></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endfor %}
                                    </div>
                                </div>

                            </div><!-- End of main Portfolio area -->
                        </div><!-- End of col-md-12 -->
                <div class="col-md-6">
                    <div class="head_title  wow fadeInUp">
                        <h4>{{ page_title }}</h4>
                        <h6>{{ subtitle }}</h6>

<div class="skills">
    <!-- <span style="text-decoration: underline;">Technologies used:</span> -->
    {% for skill in skills %}
        <img src="/archive/paulclaretpro/portfolio/code/assets/svgs/{{ skill }}.svg" style="width: 2em !important; height: 2em !important" />
    {% endfor %}
</div>
                            <div>
                                {{ html_body }}
                            </div>
                    </div>
                </div>
                    </div><!-- End of row -->
                </div><!-- End of container -->


            </section><!-- End of Tobias Section -->














            <!-- Copyright -->
            <div>
            <div class="row">
                <div class="main_footer" style="background-color: black;">
                    <div class="col-md-3">
                        <div class="footer_logo text-xs-center m-b-2">
                            <a href="/archive/paulclaretpro/portfolio/"><img src="paulclaret.png" alt="" /></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="copyright_text margin-top-20 center">
                            <p class=" wow fadeInRight animated" data-wow-duration="1s">Made with <i class="fa fa-heart"></i>
                            by <span style="color: white">Paul Claret 2025</span>. All Rights Reserved</p>
                        </div>
                    </div>
                    <div class="col-md-1 no-padding">
                        <div class="scrollup center">
                            <a href="#"><i class="fa fa-chevron-up"></i></a>
                        </div>
                    </div>
                </div>
            </div><!-- End of row -->
            </div>


        <script src="/archive/paulclaretpro/portfolio/assets/js/vendor/jquery-1.11.2.min.js"></script>
        <script src="/archive/paulclaretpro/portfolio/assets/js/vendor/bootstrap.min.js"></script>

        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
        <script src="/archive/paulclaretpro/portfolio/assets/js/jquery.easing.1.3.js"></script>
        <script src="/archive/paulclaretpro/portfolio/assets/js/materialize.js"></script>
        <script src="/archive/paulclaretpro/portfolio/assets/js/jquery.magnific-popup.js"></script>

        <script src="/archive/paulclaretpro/portfolio/assets/js/plugins.js"></script>
        <script src="/archive/paulclaretpro/portfolio/assets/js/main.js"></script>

    </body>
</html>
